<header class="header">
  <div class="container">
    <div class="header__logo">
      <h3>Лого</h3>
    </div>
    <div class="header__account account"> 
      <a href="#" class="account__profile">Иванов И.И.</a>
      <a href="#" class="account__logout">Выйти</a>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <aside class="app__nav">
      <h4 class="app__nav-title">Меню</h4>
      <nav>
        <ul class="app__menu">
          <li>
            <a href="#">Организации</a>
          </li>
          <li>
            <a href="#">Учителя</a>
          </li>
          <li>
            <a href="#">Группы</a>
          </li>
          <li>
            <a href="#">Курсы</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div id="component">
      
    </div>
  </div>
</main>