<article class="course">
  <header class="course__header">
    <h1 class="course__header-title">Курс ID: 1</h1>
    <form class="course__general-form" id="course-general-form">
      <div class="form-group course__general-form-group">
        <label for="course-title">Изменить название:</label>
        <input
          type="text"
          value="Курс Frontend-разработка"
          id="course-title"
          name="title"
          class="course__title"
        >
      </div>
      <div class="form-group course__general-form-group">
        <label for="course-description">Изменить описание:</label>
        <textarea class="course__description" id="course-description" name="description">Курс по HTML, CSS, JS, Vue.js</textarea>
      </div>
      <div class="course__general-form-controls">
        <button class="btn btn-primary" data-action="save">Сохранить</button>
        <button class="btn btn-secondary" data-action="cancel">Отменить</button>
      </div>
    </form>
  </header>
  <div class="course-modules">
    <div class="course-modules__header">
      <h2>Модули</h2>
      <button class="btn btn-primary course-modules__add-btn" data-action="create">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="course-modules__body">
      <ul class="course-modules__list">
        <li class="course-module" data-module-id="1" data-lessons-hidden="true">
          <div class="course-module__header">
            <h4 class="course-module__title">
              <span class="course-module__number">Модуль 1:</span>
              <span class="course-module__name">Введение в HTML</span>
            </h4>
            <div class="course-module__actions">
              <button class="btn btn-secondary course-module__edit-btn course-module__action-btn" data-action="update">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button class="btn btn-danger course-module__delete-btn course-module__action-btn" data-action="delete">
                <i class="fa-solid fa-trash"></i>
              </button>
              <button class="course-module__toggle">
                <i class="fa-solid fa-caret-down"></i>
              </button>
            </div>
          </div>
          <div class="course-lessons">
            <ul class="course-lessons__list">
              <li class="course-lesson" data-lesson-id="1">
                <h5 class="course-lesson__title">
                  <span class="course-lesson__number">Урок 1:</span>
                  <span class="course-lesson__name">Что такое HTML?</span>
                </h5>
                <p class="course-lesson__desc">Узнаем, что такое HTML и выучим первые теги!</p>
                <div class="course-lesson__badges">
                  <span class="course-lesson__badge course-lesson__badge--danger">
                    <i class="fa-regular fa-rectangle-list"></i>
                    Отсутствуют тесты
                  </span>
                  <span class="course-lesson__badge course-lesson__badge--danger">
                    <i class="fa-regular fa-file-lines"></i>
                    Отсутствуют материалы
                  </span>
                </div>
                <div class="course-lesson__actions">
                  <button class="btn btn-secondary course-lesson__edit-btn course-lesson__action-btn">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button class="btn btn-danger course-lesson__delete-btn course-lesson__action-btn" data-action="delete">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </li>
              <li class="course-lesson" data-lesson-id="1">
                <h5 class="course-lesson__title">
                  <span class="course-lesson__number">Урок 1:</span>
                  <span class="course-lesson__name">Что такое HTML?</span>
                </h5>
                <p class="course-lesson__desc">Узнаем, что такое HTML и выучим первые теги!</p>
                <div class="course-lesson__badges">
                  <span class="course-lesson__badge course-lesson__badge--danger">
                    <i class="fa-regular fa-rectangle-list"></i>
                    Отсутствуют тесты
                  </span>
                  <span class="course-lesson__badge course-lesson__badge--danger">
                    <i class="fa-regular fa-file-lines"></i>
                    Отсутствуют материалы
                  </span>
                </div>
                <div class="course-lesson__actions">
                  <button class="btn btn-secondary course-lesson__edit-btn course-lesson__action-btn">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button class="btn btn-danger course-lesson__delete-btn course-lesson__action-btn" data-action="delete">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </li>
            </ul>
            <div class="course-lessons__controls">
              <button class="btn btn-primary course-lessons__add-btn">
                Создать урок
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</article>
